/* overall page structure */

.container {
    width: 720px;
    margin: 0 auto;
}

.ll {
}

/* topbar: title, later maybe some links */

.ll-topbar {
    background-color: var(--ll-topbar-bg);
}

.ll-topbar-title {
    margin: 0;
    padding: .2em 0;
    font-weight: 300;
    color: var(--white);
}

/*
 * init: allows user to add a term widget for inspection
 * the input element may be replaced by a textarea at some point
 */

.ll-init {
    display: flex;
    margin-top: 1em;
}

.ll-init-input {
    flex: 1;
    border: none;
    border-bottom: 1px solid;
    color: var(--white);
    background-color: rgba(0, 0, 0, .05);
    box-sizing: border-box;
    padding: .2em;
    font-size: 1.2em;
}

.ll-init-addterm {
    margin-left: .5em;
}

/* widgets: basically the whole content */

.ll-widgets {
}

.ll-widget {
    margin: 1em 0;
    padding: .25em;
    background-color: var(--widget-bg);
}

.ll-widget-title {
    display: flex;
    color: var(--widget-title-color);
    font-size: .8em;
}

.ll-widget-title-text {
    flex: 1;
}

.ll-widget-title-id {
    font-family: 'Fira Code';
    color: var(--black);
}

.ll-widget-title-remove {
    cursor: pointer;
    user-select: none;
}

.ll-widget-title-remove:hover {
    color: #e74c3c;
}

.ll-widget-content {
    display: flex;
    margin-top: .2em;
}

.ll-widget-content-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: scroll;

    /* literally no browser compat except for FF */
    scrollbar-color: rgba(0, 0, 0, 0.3) var(--widget-bg);
    scrollbar-width: thin;
}

.ll-widget-content-column:not(:first-child) {
    margin-left: .5em;
}

/* center content without breaking on overflow */
.ll-widget-content-wrapper {
    margin: auto;
}

.ll-widget-controls {
    display: flex;
    justify-content: center;
}

.ll-widget-control:not(:first-child) {
    margin-left: .25em;
}

.ll-widget-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: .25em;
}

.ll-widget-action {
    margin-left: .25em;
}

/*
 * constraints and substitutions tables
 * mostly layed out by tables (similar to LaTeX)
 */
.substitution.-new > .substitution-lhs,
.substitution.-new > .substitution-arrow,
.substitution.-new > .substitution-rhs {
    color: var(--new-substitution-color);
}
